{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lethons' blog</title>
  <!-- load CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">    <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">                                        <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">                                     <!-- Templatemo style -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

  <script>
    var renderPage = true;

    if(navigator.userAgent.indexOf('MSIE')!==-1
      || navigator.appVersion.indexOf('Trident/') > 0){
        /* Microsoft Internet Explorer detected in. */
        alert("Please view this in a modern browser such as Chrome or Microsoft Edge.");
        renderPage = false;
    }
  </script>

</head>

<body>
  <!-- Loader -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

 <div class="container">

  <!-- 1st section -->
  <section class="row tm-section">
   <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
    <div class="tm-flex-center p-5 tm-bg-color-primary tm-section-min-h">
      <h1 class="tm-text-color-white tm-site-name">Lethons</h1>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <q class="tm-quote tm-text-color-gray">
          如果有来生， 要做一棵树， 站成永恒， 没有悲欢的姿势。 一半在土里安详， 一半在风里飞扬， 一半洒落阴凉， 一半沐浴阳光， 非常沉默非常骄傲， 从不依靠，从不寻找。
      </q>
    </div>
  </div>
</section>

<!-- 2nd section -->
<section class="row tm-section tm-col-md-reverse">
 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="tm-flex-center p-5">
    <div class="tm-md-flex-center">
      <h2 class="tm-text-color-primary mb-4">Where am I from?</h2>
      <p class="mb-4 tm-quote">这一生， 有太多的东西想学， 太多的地方想看， 太多的经历觉得不能错过。 但时光一年一年的过去， 剩下的时间越来越少。</p>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
  <div class="tm-flex-center p-5 tm-bg-color-primary">
    <div class="tm-max-w-400 tm-flex-center tm-flex-col">
      <img src="{% static 'images/image-04.jpg' %}" alt="Image" class="rounded-circle mb-4">
      <p class="tm-text-color-white small tm-font-thin mb-0">We can only see a short distance ahead, but we can see plenty there that needs to be done.</p>
    </div>
  </div>
</div>
</section>

<!-- 3rd Section -->
<section class="row tm-section tm-mb-30">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
    <img src="{% static 'images/image-01.jpg' %}" alt="Image" class="img-fluid">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <div class="tm-flex-center tm-flex-col">
        <h2 class="tm-align-left">Where should I go?</h2>
        <p class="tm-quote">学着主宰自己的生活； 即使孑然一身， 也不算一个太坏的局面。 不自怜、 不自卑、 不怨叹， 一日一日来， 一步一步走， 那份柳暗花明的喜乐和必然的抵达， 在于我们自己的修持。</p>
      </div>
    </div>
  </div>
</section>

<!-- 4th Section -->
<section class="row tm-section tm-mb-30">
 <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
  <div class="tm-flex-center pl-5 pr-5 pt-5 pb-5">
    <div class="tm-md-flex-center">
     <h2 class="mb-4 tm-text-color-primary">不忘初心，方得始终</h2>
     <p class="tm-quote">当陷入低潮，再怎么执着也无法改变现状时，我们必须懂得适时舍弃的艺术，跳脱那些让我们痛苦不堪的人事物，才有可能再造生命的另一个春天！</p>
     <p class="mb-4 tm-quote">沉淀后我愿意做一个温暖的人。有自己的喜好，有自己的原则，有自己的信仰，不急功近利，不浮夸轻薄，宠辱不惊，淡定安逸，心静如水。</p>
     <p class="mb-4 tm-quote">真正重要的不是完美的结果，而是过程中自我内在的成长与丰盈。在爱与被爱的过程中让生命更丰盈、更充实，最后找到自己生命中属于幸福的那份答案。</p>
     <a href="{% url 'home' %}" class="btn btn-primary float-lg-right tm-md-align-center">Return Home</a>
   </div>
 </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-xl-right text-md-center text-center mt-5 mt-lg-0 pr-lg-0">
 <img src="{% static 'images/image-02.jpg' %}" alt="Image" class="img-fluid">
</div>
</section>

<!-- Footer -->
<div class="row">
  <div class="col-lg-12">
    <p class="text-center small tm-copyright-text mb-0">Copyright &copy; <span class="tm-current-year">2018</span> Lethons | Designed by <a href="" class="tm-text-color-gray" target="_parent">Template Mo</a></p>
  </div>
</div>
</div>
<!-- load JS -->
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>         <!-- https://jquery.com/ -->
<script>

  /* DOM is ready
  ------------------------------------------------*/
  $(function(){

    if(renderPage) {
      $('body').addClass('loaded');
    }

    $('.tm-current-year').text(new Date().getFullYear());  // Update year in copyright
  });

</script>

</body>
</html>