{% extends 'blog/index.html' %}
{% load staticfiles %}

{% block nav %}
<li><a href="{% url 'home' %}" class="hvr-underline-from-left"><i class="home1"></i>Home</a></li>
<li><a href="photos.html" class="hvr-underline-from-left"><i class="picture1"></i>Photos</a></li>
<li class="active"><a href="{% url 'blog_list' %}"><i class="edit"></i>Blog</a></li>
<li><a href="short-codes.html" class="hvr-underline-from-left"><i class="text-size1"></i>About Me</a></li>
<li><a href="mail.html" class="hvr-underline-from-left"><i class="envelope1"></i>Mail Me</a></li>
{% endblock %}

{% block left_middle %}
    <div class="latest-news">
        <h2>Latest News</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>最新博客</strong>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            {% for blog in blogs|slice:":5" %}
                                <li class="my-latest-news">
                                    <a href="{% url 'blog_detail' blog.pk %}" class="glyphicon glyphicon-globe" aria-hidden="true">
                                        {{ blog.title|truncatechars:10 }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>热门博客</strong>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>博客推荐</strong>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul>
                            {% for blog in commend_blogs|slice:":5" %}
                                <li class="my-latest-news">
                                    <a href="{% url 'blog_detail' blog.pk %}" class="glyphicon glyphicon-cloud-upload" aria-hidden="true">
                                        {{ blog.title|truncatechars:10 }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cat-grid">
            <h3>Blog's Tags</h3>
            <div class="top-social-icons">
                {% for tag in tags|slice:":3" %}
                    <a href="{% url 'comment_tag_list' tag %}">{{ tag }}</a>
                {% endfor %}
                <div class="clearfix"> </div>
                {% for tag in tags|slice:"3:5" %}
                    <a href="{% url 'comment_tag_list' tag %}">{{ tag }}</a>
                {% endfor %}
                <div class="clearfix"> </div>
                {% for tag in tags|slice:"5:6" %}
                    <a href="{% url 'comment_tag_list' tag %}">{{ tag }}</a>
                {% endfor %}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_top %}
{# don't show right top #}
{% endblock %}

{% block right_bottom %}
<div class="col-xs-9 banner-body-right">
    <div class="gallery-head text-center">
        {% block right-title %}
            <h5>Blog List</h5>
        {% endblock %}
    </div>
    <div class="blog">
        {% if blogs %}
            {% for blog in blogs %}
                <div class="blog-grid">
                    <div class="col-xs-4 blog-grid-left">
                        <a href="{% url 'blog_detail' blog.pk %}"><img src="/media/{{ blog.image }}" alt=" " class="img-responsive" /></a>
                    </div>
                    <div class="col-xs-8 blog-grid-right">
                        <h4>
                            <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}
                                <span class="text-right" style="font-size: 14px; color: #E0BD62;">{{ blog.publish_time|date:'Y-m-d' }}</span>
                            </a>
                        </h4>
                        <p>{{ blog.content|striptags|truncatechars_html:105 }}</p>
                        <hr>
                    </div>
{#                    <div class="clearfix"></div>#}
                </div>
            {% endfor %}
        {% else %}
            <div class="blog-grid">
            <div class="col-xs-12" style="height: 330px; padding-top: 20%">
                <h4 class="text-center" style="font-size: 300%">暂无博客，敬请期待</h4>
            </div>
            </div>
        {% endif %}
    </div>
    <div class="text-center">
            {#  page setting  #}
            <ul class="pagination">
                {% if blogs.has_previous %}
                    <li><a href="?page={{ blogs.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}
                {% if blogs.number > 3 %}
                    <li><a href="?page=1" style="font-family: cursive;">首页</a></li>
                {% endif %}
                {% for page in page_range %}
                    {% if blogs.number == page %}
                        <li class="active"><a href="?page={{ page }}">{{ page }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_range|last < pages.num_pages %}
                    <li><a href="?page={{ pages.num_pages }}" style="font-family: cursive;">尾页</a></li>
                {% endif %}
                {% if blogs.has_next %}
                    <li><a href="?page={{ blogs.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                {% else %}
                    <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
    </div>
</div>
{% endblock %}
