{% extends 'index.html' %}
{% load staticfiles %}

{% block nav %}
<li><a href="{% url 'index' %}" class="hvr-underline-from-left"><i class="home1"></i>Home</a></li>
<li><a href="photos.html" class="hvr-underline-from-left"><i class="picture1"></i>Photos</a></li>
<li class="active"><a href="{% url 'blog_list' %}"><i class="edit"></i>Blog</a></li>
<li><a href="short-codes.html" class="hvr-underline-from-left"><i class="text-size1"></i>About Me</a></li>
<li><a href="mail.html" class="hvr-underline-from-left"><i class="envelope1"></i>Mail Me</a></li>
{% endblock %}

{% block left_middle %}
    <div class="latest-news">
        <h2>Latest News</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Michael Vol
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Andrew Rich
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Rita Rock
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.
                    </div>
                </div>
            </div>
        </div>
        <div class="cat-grid">
            <h3>Blog's Tags</h3>
            <div class="top-social-icons">
                    <a href="#">Cards</a>
                    <a href="#">Website</a>
                    <a href="#">Icons</a>
                <div class="clearfix"> </div>
                    <a href="#">Themeforest</a>
                    <a href="#">Interfaces</a>
                <div class="clearfix"> </div>
                    <a href="#">Inspiration</a>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_top %}
{# don't show right top #}
{% endblock %}

{% block right_bottom %}
<div class="col-xs-9 banner-body-right">
    <div class="gallery-head text-center">
        <h5>Blog List</h5>
    </div>
    <div class="blog">
        {% for blog in blogs %}
            <div class="blog-grid">
                <div class="col-xs-4 blog-grid-left">
                    <a href="{% url 'blog_detail' %}" target="_blank"><img src="/media/{{ blog.image }}" alt=" " class="img-responsive" /></a>
                </div>
                <div class="col-xs-8 blog-grid-right">
                    <h4><a href="blog_detail.html">{{ blog.title }}</a></h4>
                    <p>{{ blog.content|truncatechars:100 }}</p>
                    <a href="blog_detail.html"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
            <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
    </div>
</div>
{% endblock %}